<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Around Edinburgh is a web app that helps you explore a curated list of cool places in Edinburgh.">
    <meta name="author" content="Fotis Papado">

    <title>Around Edinburgh</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Poppins:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body class="w-100">
      <main role="main" class="mw7-ns mw8-l center">
          <nav class="db w-100 mt4 mb1 ph5-ns border-box cf">
              <div class="fl w-100 w-30-ns v-mid poppins">
                <a class="f5 f4-ns link dim pastel black-80 tracked lh-title fw6 ttu", href="/">
                      Around Edinburgh
                  </a>
              </div>
              <div class="fl w-100 w-70-ns v-mid poppins">
                  <ul class="list mt3 mb0 pl0 tc tr-ns">
                      <%= if @current_user do %>
                      <li class="dib mr3">
                          <a class="f6 f5-ns fw6 db dark-green"><%= @current_user.username %></a>
                      </li>
                      <li class="dib mr3">
                          <%= link "Places", to: place_path(@conn, :index),
                          class: "f6 f5-ns db link dim mid-gray bb bw2 b--black-20" %>
                      </li>
                      <li class="dib mr3">
                          <%= link "My Places", to: place_path(@conn, :user_places_index),
                          class: "f6 f5-ns db link dim mid-gray bb bw2 b--black-20" %>
                      </li>
                      <li class="dib ">
                          <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete",
                          class: "f6 f5-ns db link dim mid-gray bb bw2 b--black-20" %>
                      </li>
                      <% else %>
                      <li class="dib mr3">
                          <%= link "Places", to: place_path(@conn, :index),
                          class: "f6 f5-ns db link dim mid-gray bb bw2 b--black-20" %>
                      </li>
                      <li class="dib">
                          <%= link "Log in", to: session_path(@conn, :new),
                          class: "f6 f5-ns db link dim mid-gray bb bw2 b--black-20" %>
                      </li>
                      <% end %>
                  </ul>
              </div>
          </nav>

          <div class="pa3 ph5-ns">

              <p class="alert db mb3 pa2 ba bw2 b--pastel-green dark-green" role="alert"><%= get_flash(@conn, :info) %></p>
              <p class="alert db mb3 pa2 ba bw2 b--pale-red pale-red" role="alert"><%= get_flash(@conn, :error) %></p>

              <%= render @view_module, @view_template, assigns %>

          </div> <!-- /container -->
      </main>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
