<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Around Edinburgh is a web app that helps you explore a curated list of cool places in Edinburgh.">
    <meta name="author" content="Fotis Papado">

    <title>Around Edinburgh</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="mw5 mw7-ns center pa3 ph5-ns">
      <header class="header">
        <ul class="list tr">
            <%= if @current_user do %>
                <li class="dib mr2">
                    <a class="f6 f5-ns b db pa2 green"><%= @current_user.username %></a>
                </li>
                <li class="dib mr2">
                    <%= link "My Places", to: place_path(@conn, :user_places_index),
                        class: "f6 f5-ns b db pa2 link dim mid-gray" %>
                </li>
                <li class="dib mr2">
                    <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete",
                        class: "f6 f5-ns b db pa2 link dim mid-gray" %>
                </li>
            <% else %>
                <li class="dib mr2">
                    <%= link "Register", to: user_path(@conn, :new),
                        class: "f6 f5-ns b db pa2 link dim mid-gray" %>
                </li>
                <li class="dib mr2">
                    <%= link "Log in", to: session_path(@conn, :new),
                        class: "f6 f5-ns b db pa2 link dim mid-gray" %>
                </li>
            <% end %>
        </ul>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
