/* Text Colours*/
/* Signature Colour; the rest is complementary */
.bright-green {
    color: #59d7a5;
}
.pale-red {
    color: #D76E59;
}
.dark-red {
    color: #8A301E;
}
.pale-green {
    color: #83FFCE;
}
.dark-green {
    color: #2B8A65;
}
/* Compound */
.blue-gray {
    color: #5C6E71;
}

/* Border Colours */
.b--bright-green {
    border-color: #59d7a5;
}
.b--dark-green {
    border-color: #2B8A65;
}
.b--dark-red {
    border-color: #8A301E;
}

/* Background Colours */
.alert:empty {
    display: none;
}
