// Includes

// Base
@import '_colors'

// Fonts
.poppins {
  font-family: 'Poppins', sans-serif;
}

// Custom
.alert:empty {
    display: none;
}
.circle {
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
.shadow {
  border-bottom-width: 0.375rem;
  border-bottom-color: #f1f1f1;
}
#mapid {
}
.h6 {
    height: 24rem;
}

// -ns Breakpoint
@media screen and (min-width: 30em) {
    .h6-ns {
        height: 24rem;
    }
}

.pop > div{
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.turbolinks-progress-bar {
  background-color: pale-green;
}
.pastel {
	position:relative;
	z-index:1;
}
.pastel:after {
	display:block;
	position:absolute;
	bottom:0;
	left:0.25rem;
	background-color: pastel-green;
	height:50%;
	width:100%;
	z-index:-1
	content:' ';
}
