// Includes

// Base
@import '_colors'

// Custom
.alert:empty {
    display: none;
}
.circle {
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
}
#mapid {
}
.h6 {
    height: 24rem;
}

// -ns Breakpoint
@media screen and (min-width: 30em) {
    .h6-ns {
        height: 24rem;
    }
}

.pop > div{
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.turbolinks-progress-bar {
  background-color: pale-green;
}
